$main_color: #00796b;
$main_color_lighten: #80cbc4;
$main_color_lighten2: #b2dfdb;
$main_color_bg: #e0f2f1;
$white_color: #ffffff;
$black_color: #000000;
$secondary_text: #bdbdbd;
$active_color_bg: #f0f0f0;
$link_color: #424242;
$opacity_bg: rgba(255, 255, 255, 0.7);
